/*----Barra de Navegação --*/

header {
	background: #e6d3d8;
	padding: 15px 0px;
	height: 200px;
}

.slogan {
	text-align: center;
}

html, body  {
	height: 100%;
}

.navbar-secondary .nav-pills .nav-link {
	color: #4a3f38;
	font-family: "Garamond", serif;
	font-size: 1.2em;
	margin-left: 2px;
	display: block;
	
	
}



.navbar-secondary .nav-pills .nav-link:hover {
	color: #4a3f38;
	background: #e59cbc;
	font-family: "Garamond", serif;
	font-size: 1em;
	display: block;
}

.navbar-secondary .nav-pills .selecionado a{
	color: #4a3f38;
	background: #e59cbc;
	font-family: "Garamond", serif;
	font-size: 1em;
	display: block;
}


 .nav-pills .navbar-toggler {
 	color: #e6d3d8;

}






/*--Capa Home --*/


#artesanal, #elegancia, #sustentabilidade, 
#catalogo {
        background: #e59cbc;
        color: #4a3f38;
	    font-size: 1.2em;
	    font-family: "Garamond", serif;
	}

.texto {
	max-width: 500px;
}

#artesanal .texto {
	padding-right: 20px;

}

#artesanal {
        padding-top: 20px;
}

#sustentabilidade {
	    padding-bottom: 20px;
}

/*--Sobre--*/

#sobre {
	background: #e59cbc;
    color: #4a3f38;
	font-size: 1.2em;
	font-family: "Garamond", serif;
	padding-top: 30px;
}

#sobre .texto {
	padding-right: 100px;
	text-align: justify;
}

#sobre h3 {
	padding-bottom: 50px;
}

.texto p {
    margin-bottom: 15px;
    line-height: 1.6;
}

#sobre .imagem {
	padding: 100px;
}

.imagem img {
    border-radius: 50%;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}

/*--Catalogo--*/

#catalogo {
	padding-top: 30px;
	padding-bottom: 30px;
}

.text-center {
	padding-bottom: 40px;
	margin-top: 20px;
}

.btn-link {
	color: #4a3f38;
	margin-top: -20px;
	padding: -20px 10px 10px 10px;
	font-size: 1.2em;
	margin-left: 2px;
	display: inline;
}

.btn-link:hover {
	color: #4a3f38;
	background: #e6d3d8;
	font-family: "Garamond", serif;
	font-size: 1em;
	text-decoration: none;

}

.btn-link.selecionado {
	color: #4a3f38;
	background: #e6d3d8;
	font-family: "Garamond", serif;
	font-size: 1em;
	text-decoration: none;

}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.card {
	background-color: #e6d3d8;
	border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}


.card-title {
	color: #4a3f38;
	font-size: 0.95em;
	font-weight: 600;
}

.card-img-top {
 transition: transform 0.4s ease;
}

.card:hover .card-img-top {
 transform: scale(1.05);
}

#catalogo .btn-outline-rosa {
	background-color: #e59cbc;
	color: #4a3f38;
	border-radius: 10px;
	border: none;
	padding-top: 10px;
	padding: 6px;
	transition: all 0.3s ease;
}

#catalogo .btn-outline-rosa:hover{
	background-color: #a0257d;
	color: white;
	border-radius: 10px;
}

/*--Produtos--*/

.row {
  align-items: center;
}

.card-text {
	line-height: 1.6;
    max-width: 500px;
	text-align: justify;
}

.col-md-6 p {
  line-height: 1.6;
}

/*--Origami Essencia --*/

.carousel-item {
  text-align: center;
}

#origami-essencia {
    background: #e59cbc;
    color: #4a3f38;
	font-size: 1.2em;
	font-family: "Garamond", serif;
	padding-top: 30px;
}


#origami-essencia  img {
	height: 450px;
	width: 100%;
	max-width: 350px;
	border-radius: 10px;
	padding-bottom: 30px;
	margin: 0 auto;
	display: block;
}

#origami-essencia .btn-outline-rosa {
	background-color: #a0257d;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
	margin: 30px;
}

#origami-essencia  .btn-outline-rosa a {
	background-color: #a0257d;
    color: white;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
	margin-top: 20px;
}

#origami-essencia .btn-outline-rosa:hover {
	 background-color: #7d1c61;
     transform: scale(1.05);
}

#origami-essencia .btn-outline-rosa:hover a {
	background-color: #7d1c61;
	 text-decoration: none;
	 transform: translateX(-3px);
     transition: 0.2s;
}


/*--Oliva Royale--*/

#oliva-royale {
    background: #e59cbc;
    color: #4a3f38;
	font-size: 1.2em;
	font-family: "Garamond", serif;
	padding-top: 30px;
}

#oliva-royale img {
	max-width: 100%;
	height: 450px;
	border-radius: 10px;
	padding-bottom: 40px;
}


#oliva-royale .btn-outline-rosa {
	background-color: #a0257d;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
	margin: 30px;
}

#oliva-royale .btn-outline-rosa a {
	background-color: #a0257d;
    color: white;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
	margin-top: 20px;
	
}

#oliva-royale .btn-outline-rosa:hover {
	 background-color: #7d1c61;
     transform: scale(1.05);
}

#oliva-royale .btn-outline-rosa:hover a {
	 background-color: #7d1c61;
	 text-decoration: none;
	 transform: translateX(-3px);
     transition: 0.2s;
}

/*--Verde-serena--*/

#verde-serena {
    background: #e59cbc;
    color: #4a3f38;
	font-size: 1.2em;
	font-family: "Garamond", serif;
	padding-top: 30px;
}


#verde-serena img {
	
	height: 500px;
	width: 400px;
	border-radius: 10px;
	padding-bottom: 60px;
	padding-left: 40px;
}

#verde-serena .btn-outline-rosa {
	background-color: #a0257d;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
	margin: 30px;
}

#verde-serena .btn-outline-rosa a {
	background-color: #a0257d;
    color: white;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
	margin-top: 20px;
}

#verde-serena .btn-outline-rosa:hover {
	 background-color: #7d1c61;
     transform: scale(1.05);
}

#verde-serena .btn-outline-rosa:hover a {
	background-color: #7d1c61;
	 text-decoration: none;
	 transform: translateX(-3px);
     transition: 0.2s;
}


/*--Rose charme --*/

#rose-charm {
    background: #e59cbc;
    color: #4a3f38;
	font-size: 1.2em;
	font-family: "Garamond", serif;
	padding-top: 30px;
}


#rose-charm  img {
	height: 470px;
	width: 400px;
	border-radius: 10px;
	padding-bottom: 30px;
	padding-left: 40px;
}

#rose-charm .btn-outline-rosa {
	background-color: #a0257d;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
	margin: 30px;
}

#rose-charm  .btn-outline-rosa a {
	background-color: #a0257d;
    color: white;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
	margin-top: 20px;
}

#rose-charm .btn-outline-rosa:hover {
	 background-color: #7d1c61;
     transform: scale(1.05);
}

#rose-charm  .btn-outline-rosa:hover a {
	background-color: #7d1c61;
	 text-decoration: none;
	 transform: translateX(-3px);
     transition: 0.2s;
}

/*--Areia Nobre --*/

#areia-nobre {
    background: #e59cbc;
    color: #4a3f38;
	font-size: 1.2em;
	font-family: "Garamond", serif;
	padding-top: 30px;
}


#areia-nobre  img {
	height: 500px;
	width: 400px;
	border-radius: 10px;
	padding-bottom: 30px;
	padding-left: 40px;
}

#areia-nobre .btn-outline-rosa {
	background-color: #a0257d;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
	margin: 30px;
}

#areia-nobre  .btn-outline-rosa a {
	background-color: #a0257d;
    color: white;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
	margin-top: 20px;
}

#areia-nobre .btn-outline-rosa:hover {
	 background-color: #7d1c61;
     transform: scale(1.05);
}

#areia-nobre  .btn-outline-rosa:hover a {
	background-color: #7d1c61;
	 text-decoration: none;
	 transform: translateX(-3px);
     transition: 0.2s;
}

/*--aurora coral --*/

#aurora-coral {
    background: #e59cbc;
    color: #4a3f38;
	font-size: 1.2em;
	font-family: "Garamond", serif;
	padding-top: 30px;
}


#aurora-coral img {
	
	height: 350px;
	max-width: 100%;
	border-radius: 10px;
	padding-bottom: 30px;
	padding-left: 40px;
}

#aurora-coral .btn-outline-rosa {
	background-color: #a0257d;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
	margin: 30px;
}

#aurora-coral .btn-outline-rosa a {
	background-color: #a0257d;
    color: white;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
	margin-top: 20px;
}

#aurora-coral .btn-outline-rosa:hover {
	 background-color: #7d1c61;
     transform: scale(1.05);
}

#aurora-coral .btn-outline-rosa:hover a {
	background-color: #7d1c61;
	 text-decoration: none;
	 transform: translateX(-3px);
     transition: 0.2s;
}



 /*--Rodapé--*/

 footer {
 	background: #e6d3d8;
 	padding: 15px 0px;
	height: 150px;
}

.menu-rodape li a {
	color: #4a3f38;
	font-family: "Garamond", serif;
	font-size: 1.2em;
	display: block;

}

.menu-rodape li a:hover {
	color: #4a3f38;
	background: #e59cbc;
	font-family: "Garamond", serif;
	font-size: 1em;
	text-decoration: none;
	display: block;

}
 
footer ul{
	list-style: none;
}


.btn-outline-rosa  {
	color: #4a3f38;
}	

.btn-outline-rosa:hover {
 	color: #4a3f38;
 }

.btn-cadastro {
	background-color: #e59cbc;
	border: #e59cbc;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-cadastro:hover {
  background-color: #a0257d;
  transition: 0.3s;
}

input:focus {
  box-shadow: 0 0 0 2px rgba(179, 41, 141, 0.2);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap*/
@media (max-width: 575.98px) {
	.slogan {
		max-width: 160px;
		text-align: center;
		margin-top: -20px;
		position: relative;
	}

	#elegancia {
		padding: 30px 0;
	}

	#elegancia h3 p {
		padding-top: 20px;
	}

	footer {
		height: 400px;
	}

	.navbar-secondary .nav-pills .nav-link {
            display: block;
	    color: #4a3f38;
	    font-weight: bold;
	    background: #e6d3d8;
	    font-family: "Garamond", serif;
	    font-size: 1.0em;
	    padding: 3px;
	    

}

}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	

	.slogan {
		max-width: 200px;
		text-align: center;
	}

	#elegancia {
		padding: 30px 0;
	}


	#elegancia h3 p {
		padding-top: 20px;
	} 



	
}	

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	
	header, html, body, footer { 
		min-width: 768px;
	
	}

	.logo {
		margin-top: -15px; 
	}
	
	.slogan {
		max-width: 300px;
	}

	
		

	
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	.slogan {
		min-width: 300px;
	}

	.logo {
		max-width: 200px;

	}
	
 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	
 }
